# CODEOWNERS: https://help.github.com/articles/about-codeowners/

module/  @jackzampolin @mvid @levicook
orchestrator/ @zmanian @levicook @hannydevelop
solidity/ @zmanian @jackzampolin @jtremback
tests/  @mvid @levicook @jackzampolin
