# Replace sample private key for an active validator address
# For local testing, use accounts[1] private key from truffle
ETHEREUM_PRIVATE_KEY="2f9e04fe9a7f3f58c3bc6b43e55ffb060e299095bfa7bf98182424d33c36de82"