# Replace sample private key for an active validator address
# For local testing, use accounts[1] private key from truffle
ETHEREUM_PRIVATE_KEY="c9b403bc37903e4480b8e1706df7142b8b4fe0fa2249d341ab4e228904127604"