# ------------
#    General
# ------------
CONSENSUS_THRESHOLD = 70

# ------------
#    Local
# ------------
LOCAL_PROVIDER="http://localhost:7545"
# Local validator count must be at least 1 and no more than 8 
LOCAL_VALIDATOR_COUNT = 3
# The initial power associated with each local validator
LOCAL_INITIAL_VALIDATOR_POWERS = 50,1,1

# ------------
#   Network
# ------------
# Replace example MNEMONIC with your MetaMask mnemonic
MNEMONIC="candy maple cake sugar pudding cream honey rich smooth crumble sweet treat"
# Replace example INFURA_PROJECT_ID with your Infura project's ID
INFURA_PROJECT_ID=JFSH7439sjsdtqTM23Dz
# Replace example OPERATOR with your MetaMask address
OPERATOR = "0x627306090abaB3A6e1400e9345bC60c78a8BEf57"
# Replace example INITIAL_VALIDATOR_ADDRESSES with the desired validator addresses
INITIAL_VALIDATOR_ADDRESSES = "0xf17f52151EbEF6C7334FAD080c5704D77216b732,0xC5fdf4076b8F3A5357c5E395ab970B5B54098Fef"
# Replace example INITIAL_VALIDATOR_POWERS with the desired validator powers
INITIAL_VALIDATOR_POWERS = 55,31
